body{
	border: 0px;
	margin: 0px;
		font-family: 'Oswald', sans-serif;
	font-size: 18px;
	letter-spacing: 3px;
}

.header {
	background: white;
	width: 100%
	height: auto;
	text-align: center;
	

	color: #000;
	padding-top: 40px;
	padding-bottom: 40px;
}

.txt {
	color: #534E68;
	padding-top: 30px;

}

.textobajo {
	color: #8E44AD;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 40px;
}

.ilustracion1 {
	width: 100%
	height: 550px;
	text-align: center;

	background-color: #F2F3F4;
	border: 30px;
	border-color: black;
	border-bottom: solid 1px #D7DBDD; 

}

.ilustracion2 {
	width: 100%
	height: 550px;
	text-align: center;

	background-color: #dfecf5;
	border: 30px;
	border-color: black;
	border-bottom: solid 1px #D7DBDD; 

}